name: Run Newman and Send to Xray

on:
  workflow_dispatch:

jobs:
  newman-xray:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install Newman + reporters
      run: |
        npm install -g newman
        npm install -g newman-reporter-junitxsray
        npm install -g newman-reporter-junitfull

    - name: Run Newman
      run: |
        newman run "https://api.getpostman.com/collections/9498939-37d1237b-7b54-4090-81c0-d0cf9d8dc26c?apikey=${{ secrets.POSTMAN_API_KEY }}" \
          -r "cli,junitfull,junitxray" \
          --reporter-junitfull-export "postman_echo_junitfull.xml" \
          --reporter-junitxray-export "postman_echo_junitxray.xml" \
          -n 1

    - name: Authenticate in Xray
      id: xray_auth
      run: |
        XRAY_TOKEN=$(curl -s \
          -H "Content-Type: application/json" \
          -d "{\"client_id\":\"${{ secrets.XRAY_CLIENT_ID }}\",\"client_secret\":\"${{ secrets.XRAY_CLIENT_SECRET }}\"}" \
          https://xray.cloud.getxray.app/api/v2/authenticate | tr -d '"')

        echo "token=$XRAY_TOKEN" >> $GITHUB_OUTPUT

    - name: Upload results to Xray
      run: |
        curl -v \
          -H "Content-Type: text/xml" \
          -H "Authorization: Bearer ${{ steps.xray_auth.outputs.token }}" \
          --data @"postman_echo_junitxray.xml" \
          "https://xray.cloud.getxray.app/api/v2/import/execution/junit?projectKey=SCRUM&testExecKey=SCRUM-6"
